package main

const (
	term         = `2019C`
	authBearer   = `UPENN_OD_emjT_1002233`
	authToken    = `2bbk83v7fasdth34j5asas`
	httpUser     = `HTTP_USER`
	httpPass     = `HTTP_PASS`
	firebaseJson = `firebase-adminsdk.json`
)
