package main

const (
	term         = `202230`
    clientId     = `open-data-prod-example`
    clientSecret = `123e4567-e89b-12d3-a456-426614174000`
	httpUser     = `HTTP_USER`
	httpPass     = `HTTP_PASS`
	databaseLink = `/pennmate`
)
